<div class="membersWrap" ng-click="buttonAction($event)" > <!--change class style-->
    <div class="row-fluid">
        <div style="margin-top: 20px">

            <img src="../img/ajax-loader.gif" ng-if="!shownPeople.length" style="margin: auto;display:block"/>

	        <!--<div style="margin-left: 45%; margin-bottom: 20px" ng-if="shownPeople.length">
		        <button type="button" class="nav-button-left" ng-disabled="currentPage == 0" ng-click="updateList(-1)">
			        Forrige
		        </button>
		        {{currentPage+1}} av {{numberOfPages()}}
		        <button type="button" class=" nav-button-right" ng-disabled="currentPage >= shownPeople.length/pageSize - 1" ng-click="updateList(1)">
			        Neste
		        </button>
	        </div>-->

	        <!-- TODO: Implement the required pagination code
	        <ul class="pagination" style="margin-left: 40%; margin-bottom: 20px" ng-if="shownPeople.length" ng-hide="numberOfPages() == 1">
		        <li><a ng-disabled="currentPage == 0" ng-click="updateList(-1)">Forrige</a></li>
		        <li><a id="navbtn1" ng-click="updatePaginator({{nav1}})">{{nav1}}</a></li>
		        <li><a id="navbtn2" ng-click="updatePaginator({{nav2}})">{{nav2}}</a></li>
		        <li><a id="navbtn3" ng-click="updatePaginator({{nav3}})">{{nav3}}</a></li>
		        <li><a class="active" id="navbtn4" ng-click="updatePaginator({{nav4}})">{{nav4}}</a></li>
		        <li><a id="navbtn5" ng-click="updatePaginator({{nav5}})">{{nav5}}</a></li>
		        <li><a id="navbtn6" ng-click="updatePaginator({{nav6}})">{{nav6}}</a></li>
		        <li><a id="navbtn7" ng-click="updatePaginator({{nav7}})">{{nav7}}</a></li>
			    <li><a ng-disabled="currentPage >= shownPeople.length/pageSize - 1" ng-click="updateList(1)">Neste</a></li>
	        </ul>
			-->

            <table st-safe-src="shownPeople" st-table="displayedCollection" class="table"  ng-if="shownPeople.length" >


                <thead>
                    <td colspan="6" class="text-center">
                        <div  st-pagination st-items-by-page="pageSize" st-template="views/customPagination.html" ></div>
                            <div class="input-group col-md-12">
                            <input st-search="" placeholder="Søk..." class="form-control col-md-4" type="search"/>
                            <div class="input-group-btn" ng-if="shownPeople.length" id="">
                                <div class="btn-group" data-ng-class="{open: open}">
                                    <button class="btn btn-default dropdown-toggle" data-ng-click="open=!open">
                                        Filtrer etter gruppe <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                        <input placeholder="Søk etter gruppe..." type = "text" ng-model="groupSearch" class="searchgroup form-control"/>
                                        <li>
                                            <a data-ng-click="checkAll()">
                                                <span class="glyphicon glyphicon-ok-sign"></span>  Check All</a>
                                        </li>
                                        <li>
                                            <a data-ng-click="uncheck()">
                                                <i class="glyphicon glyphicon-remove-sign"></i> Uncheck all</a>
                                        </li>
                                        <li class="divider"></li>
                                        <div class="filterScrollBar pull-right">
                                            <li data-ng-repeat="group in tmpGroupList | filter:groupSearch">
                                                <a data-ng-click="personInGroup(group)">
                                                    {{group}}
                                                    <span data-ng-class="isChecked(group)"></span>
                                                </a>
                                            </li>
                                        </div>
                                    </ul>
                                </div>
                                <button class="btn btn-default"  ng-show="groupsSelected.length > 0" data-ng-click="uncheck()">X</button>
                            </div>
                            </div>
                    </td>
                    <tr class="table table-bordered">
                        <th st-sort="sn" class="tableHeader">Etternavn</th>
                        <th st-sort="givenName" class="tableHeader">Fornavn</th></th>
                        <th st-sort="uid" class="tableHeader">Brukernavn</th></th>
                        <th st-sort="mail" class="tableHeader">Mailadresse</th></th>
                        <th st-sort="telephoneNumber" class="tableHeader">Mobilnummer</th></th>
                        <th>Grupper</th>
                    </tr>
                </thead>

                <tbody class="table table-bordered">

                <tr ng-click="navToUser(person.uidNumber)" ng-repeat ="person in displayedCollection | limitTo:pageSize" class="ng-scope tableSelection" style="cursor:pointer;"
                    >
                    <td class ="ng-binding">{{person.sn}}</td>
                    <td class ="ng-binding">{{person.givenName}}</td>
                    <td class ="ng-binding" >{{person.uid}}</td>
                    <td class ="ng-binding">{{person.mail}}</td>
                    <td class ="ng-binding">{{person.telephoneNumber}}</td>
                    <td class ="ng-binding"><div ng-repeat = "group in person.memberOf">{{group}}</div></td>    <!-- TODO: add the groups individually through ng-repeat or sth.-->
                </tr>
                </tbody>

            </table>

        </div>
    </div>
</div>