<div class="membersWrap" ng-click="buttonAction($event)"> <!--change class style-->
    <div class="row-fluid">
        <div style="margin-top: 20px">
            <div class="span4" id="page-wrap">
                <input placeholder="Søk..." type="text" ng-model="searchText" class="form-control">

                <div class="btn-group" style="margin-top: 5px" data-ng-class="{open: open}">
                    <button class="btn btn-default dropdown-toggle" data-ng-click="open=!open">
                        Filtrer etter gruppe <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <input placeholder="Søk etter gruppe..." type = "text" ng-model="groupSearch" class="searchgroup form-control"/>
                        <li>
                            <a data-ng-click="checkAll()">
                                <span class="glyphicon glyphicon-ok-sign"></span>  Check All</a>
                        </li>
                        <li>
                            <a data-ng-click="uncheck()">
                                <i class="glyphicon glyphicon-remove-sign"></i> Uncheck all</a>
                        </li>
                        <li class="divider"></li>
                        <div class="filterScrollBar pull-right">
                            <li data-ng-repeat="group in tmpGroupList | filter:groupSearch">
                                <a data-ng-click="personInGroup(group)">
                                    {{group}}
                                    <span data-ng-class="isChecked(group)"></span>
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
                <button class="btn btn-default" style="margin-top:5px; border-radius:20px" ng-show="groupsSelected.length > 0" data-ng-click="uncheck()">X</button>
            </div>
            <img src="../img/ajax-loader.gif" ng-if="!shownPeople.length" style="margin: auto;display:block"/>
            <table class="table table-bordered" ng-if="shownPeople.length">
                <thead>
                <tr>
                    <th ng-click="orderField = (orderField == 'sn' ? '-':'') + 'sn'" class="tableHeader">Etternavn
                    <span class="pull-right">{{orderField == 'sn' ? '&and;':'&or;'}}</span></th>
                    <th ng-click="orderField = (orderField == 'givenName' ? '-':'') + 'givenName'" class="tableHeader">Fornavn
                        <span class="pull-right">{{orderField == 'givenName' ? '&and;':'&or;'}}</span></th></th>
                    <th ng-click="orderField = (orderField == 'uid' ? '-':'') + 'uid'" class="tableHeader">Brukernavn
                        <span class="pull-right">{{orderField == 'uid' ? '&and;':'&or;'}}</span></th></th>
                    <th ng-click="orderField = (orderField == 'email' ? '-':'') + 'email'" class="tableHeader">Mailadresse
                        <span class="pull-right">{{orderField == 'email' ? '&and;':'&or;'}}</span></th></th>
                    <th ng-click="orderField = (orderField == 'telephoneNumber' ? '-':'') + 'telephoneNumber'" class="tableHeader">Mobilnummer
                        <span class="pull-right">{{orderField == 'telephoneNumber' ? '&and;':'&or;'}}</span></th></th>
                    <th>Grupper</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat ="person in shownPeople | filter:searchText | orderBy:orderField" class="ng-scope tableSelection"
                    data-ng-click="navToUser(person)">
                    <td class ="ng-binding">{{person.sn}}</td>
                    <td class ="ng-binding">{{person.givenName}}</td>
                    <td class ="ng-binding">{{person.uid}}</td>
                    <td class ="ng-binding">{{person.mail}}</td>
                    <td class ="ng-binding">{{person.telephoneNumber}}</td>
                    <td class ="ng-binding">
                        <div ng-repeat = "group in person.memberOf">{{group}}</div></td>    <!-- TODO: add the groups individually through ng-repeat or sth.-->
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>