<div id="page-wrap">
    <form method="post" id="contact" name="contact">
        <fieldset>
            <legend>Behandle bruker</legend>
            <div class="heightPad">
                <label for="name">Fornavn</label>
                <input type="text" id="name" name="name" value={{firstName}} />
            </div>

            <div class="heightPad">
            <label for="surname">Etternavn</label>
            <input type="text" id="surname" name="surname" value={{lastName}} />
</div>
            <div class="heightPad">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value={{email}} />
</div>
            <div class="heightPad">
            <label for="mobile">Mobilnummer</label>
            <input type="text" id="mobile" name="mobile"/>
</div>


        <label>Velg mailgrupper</label>
        <div class="btn-group" data-ng-class="{open: openMailList}">
            <button class="btn dropdown-toggle" data-ng-click="openMailList=!openMailList">
                Mailinglister <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <input type = "text" ng-model="mailListSearch" class="searchGroup"/>
                <li>
                    <a data-ng-click="checkAll()">
                        <i class="icon-ok-sign"></i> Velg alle</a>
                </li>
                <li>
                    <a data-ng-click="uncheck()">
                        <i class="icon-remove-sign"></i> Fjern Alle</a>
                </li>
                <li class="divider"></li>
                <div class="filterScrollBar pull-right">
                    <li data-ng-repeat="mail in mailingList | filter:mailListSearch">
                        <a data-ng-click="mailSelection(mail)">
                            {{mail.Name}}
                            <span data-ng-class="isChecked(mail)"></span>
                        </a>
                    </li>
                </div>
            </ul>
        </div>

        </fieldset>
    </form>
    <!-- <a href = "#/pw"> -->
    <button class = "btn" data-ng-click ="editPassword()">Endre passord</button> </a>

    <div style="height:40px"></div>
<legend>Grupper

    <div class="btn-group pull-right" data-ng-class="{open: openGroup}">
        <button class="btn dropdown-toggle" data-ng-click="openGroup=!openGroup">
            Endre grupper <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <input type = "text" ng-model="groupSearch" class="searchGroup"/>
            <div class="filterScrollBar pull-right">
                <li data-ng-repeat="group in allGroups | filter:groupSearch">
                    <a data-ng-click="groupSelection(group)">
                        {{group.Group}}
                        <span data-ng-class="groupIsChecked(group)"></span>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</legend>



    <table class = "table table-bordered">
        <tr ng-repeat="group in myGroups" class = "{{createHover()}}">

            <td class ="ng-binding "  data-ng-click="remove(group)">{{group.Group}} <span data-ng-class="editable()"></span>
            </td>
        </tr>
    </table>


    {{showExplanation}}
    <li ng-repeat="insufficient in insufficientList">
        <div style="color:red">{{insufficient}}</div>
    </li>
    <button class="btn" data-ng-click="save()" style="background:limegreen; color:white">Lagre endringer</button>
    <script type="text/ng-template" id ="editPw.html">
    <div class="modal-header">
        <Legend>Endre passord</Legend>
        <div class="modal-body">
            <div class="heightPad">
                <label>Gammelt passord</label>
                <input type="password" id="oldpass" />
            </div>
            <div class="heightPad">
                <label>Nytt passord</label>
                <input type="password" id="newpass" />
            </div>
            <div class="heightPad">
                <label>Bekreft passord</label>
                <input type="password" id="confpass" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-ng-click="changePassword()" style="background:limegreen; color:white">OK</button>
            <button class="btn" data-ng-click="cancel()" style="background:orange; color:white">Avbryt</button>
        </div>
    </div>
    </script>



</div>
