<web-app version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-firstName>Spring MVC Application</display-firstName>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-firstName>rest</servlet-firstName>


        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-firstName>rest</servlet-firstName>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet>
		<servlet-firstName>mvc-dispatcher</servlet-firstName>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-firstName>mvc-dispatcher</servlet-firstName>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

    <!--<servlet>-->
        <!--<servlet-firstName>JSON</servlet-firstName>-->
        <!--<servlet-class>-->
            <!--org.springframework.web.servlet.DispatcherServlet-->
        <!--</servlet-class>-->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-firstName>JSON</servlet-firstName>-->
        <!--<url-pattern>*.jsp</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>