

body {
    background-color: #A9E2F3;
}


b {
    font-size: 16px;
    padding: 12px;
    color:#BDBDBD;
    text-decoration:none;
    cursor:pointer;
}

b:hover,
b:focus {
    color: #FFFFFF;
    text-decoration: underline;
}

.banner {
    background-color: #326ca6;
    color: #FFFFFF;
    overflow:hidden;
}

.banner-icon {
    height: 60px;
    width:60px;
    margin:5px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.banner-icon:hover {
    cursor:pointer;
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.banner-nav {
    /* Thanks to the guys at www.colorzilla.com */
    background: rgb(226,226,226); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

    /* GRADIENT END */
    height: 100%;
    border-left-style:solid;
    border-width: 1px;
    border-color: black;
}

.header-title{
    font-size: 24pt;
    font-family: "Trebuchet MS", Helvetica, serif;
    color:white;
    display:inline-block;
    margin:0.55cm;
}
@media (min-width: 1180px){
    .largeScreen{

    }
    .mediumScreen{
        display:none;
    }
}
@media (max-width: 1179px) and (min-width: 690px){
    .largeScreen{
        display:none;
    }
    .mediumScreen{

    }
}
@media (max-width: 689px){
    .largeScreen{
        display:none;
    }
    .mediumScreen{
        display:none;
    }
}


.main-frame {
    background-color: #CEE3F6;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-top: -30px;
}
.person-info {
    list-style: none;
    margin: 10px;
    padding: 10px;
    background-color: #e1e1e1;
    color: #333;
    font-size: 16px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}


.person-info li {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: solid 1px #CCC;
    line-height: 40px;
}

.filterScrollBar {
    width: 230px;
    height: 180px;
    overflow-y: scroll;
}

.searchPlacement {
   width: 300px;
}

    .searchBox {
        margin-top: 5px;
        line-height: 30px;
        background-color: white;
        color: black;
        width:100px;
        padding-left: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
    }
    .searchBox:hover {
        transition: all 0.75s;
        width: 220px;
        background-color: lightblue;
    }
    .searchBox:focus {
        transition: all 0.25s;
        width: 220px;
        background-color: white;
    }

    .searchGroup {
        line-height: 50px;
        background-color: white;
        color: black;
        width: 90%;
        margin-left: 5px;
        margin-right: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
    }

/* EDITED FROM BOOTSTRAP*/
.dropdown-menu > div > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu > div > li > a:hover,
.dropdown-menu > div > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
    margin-top: 0px;
    margin-bottom: 0px;
}


/* END OF BOOTSTRAP EDIT */

.userDescription{
    color:black;
    font-size: 16px;
    padding-right: 50px;
}

.heightPad {
    height:60px;
}

div#page-wrap		{ width: 500px; margin: 20px auto; }
form				{ padding-right: 80px; margin-bottom: 20px; }
fieldset		{ padding: 10px; position: relative; }
label				{ display: block; float: left; width: 120px; }
input, textarea		{ margin-bottom: 5px; }
legend				{ font-size: 1.8em; }


.tableSelection:nth-child(odd) {
    background-color: #F9F9F9;
}

.tableSelection:hover td{
    background-color:#326ca6;
    color:white;
    cursor:pointer;
}


.tableHeader:hover {
    cursor:pointer;
    background-color: lightgray;
}

.tableHeader:active {
    cursor:pointer;
    background-color: lightslategray;
}


.borderBtn {
    border-style: none;
    border-radius: 4px;
}

.borderBtn:hover {
    border-style:solid;
    border-color: #23A2FC;
}

.membersWrap td{
    padding: 10px;
}

.membersWrap .table{
    width:auto;
    margin:auto;
}

.clearBtn {
    border-style: solid;
    border-width: 1px;
    border-color:#969696;
    border-radius: 20px;
    background-color: lightgray;
    color: white;

}

.clearBtn:hover {
    cursor:pointer;
    background-color: #A8A8A8;
    color: white;
}
.clearBtn:active{
    box-shadow: inset 4px 4px 0px #888888;
}

.notEditable{
    color: darkgray;
}
.test{
    color:blue;
}